{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set headingVisible = false %}
{% set heading = 'Confirmation' %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ t('You’ve rejected an offer to settle out of court') }}</h1>
      </div>

      <h2 class="govuk-heading-m">{{ t('What happens next') }}</h2>
      <p class="govuk-body">
        {{ t('You’ve rejected the defendant’s offer to settle out of court.') }}
      </p>

      {% include "includes/service_survey_link.njk" %}

      <p class="govuk-body">
        <a class="govuk-link" href="{{ DashboardPaths.dashboardPage.uri }}" class="button">{{ t('Finished') }}</a>
      </p>

      {{ supportWidget() }}

    </div>
  </div>
{% endblock %}
