{% macro offerAcceptedForClaimantDashboard(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  <p class="govuk-body">
    {{ t('You’ve signed the agreement. We’ve asked {{ defendantName }} to sign the agreement.',
      { defendantName: defendantName }) }}
  </p>
  {{ t('{{ defendantName }} has rejected your claim.',
    { defendantName:  defendantName }) }}
{% endmacro %}

{% macro offerAcceptedForClaimantClaimDetails(claim) %}
  {% set defendantName = claim.claimData.defendant.name %}
  <h2 class="heading-small">{{ t('Settle out of court') }}</h2>
  <p class="govuk-body">
    {{ t('You’ve agreed to the offer made by {{ defendantName }} and signed an agreement to settle your claim. ',
      { defendantName: defendantName }) }}
  </p>
  <p class="govuk-body">
    {{ t('We’ve asked {{ defendantName}} to sign the agreement.',
      { defendantName: defendantName }) }}
  </p>
{% endmacro %}

{% macro offerAcceptedForDefendantDashboard() %}
  <p class="govuk-body">
    {{ t('The claimant has accepted your offer. You need to sign a legal agreement to settle out of court.') }}
  </p>
  {{ t('You have rejected the claim.') }}
{% endmacro %}

{% macro offerAcceptedForDefendantClaimDetails(claim) %}
  <h2 class="heading-small">{{ t('Settle out of court') }}</h2>
  <p class="govuk-body">
    {{ t('The claimant has accepted your offer and signed a legal agreement. You need to sign the agreement to settle out of court.') }}
  </p>
  <p class="govuk-body">
    {{ t('When you’ve both signed the agreement, the claim won’t proceed.') }}
  </p>
  <p class="govuk-body">
    {{ _signAgreementLink(claim) }}
  </p>
{% endmacro %}

{% macro _signAgreementLink(claim) %}
  <a class="govuk-link" href="{{ OfferPaths.countersignAgreementPage.evaluateUri({ externalId: claim.externalId }) }}">{{ t('Sign the agreement') }}</a>
{% endmacro %}
