{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "partyDetails.njk" import partyDetailsFragment %}

{% set heading = 'Your details' %}

{% block additional_scripts %}
  {% include "postcode-lookup-client-scripts.njk" %}
{% endblock %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-form">
      <form method="post" novalidate>
        {{ csrfProtection(csrf) }}

        {{
          partyDetailsFragment(
            heading,
            form,
            fields = [
              { label: 'Full name (include title)', name: 'name' }
            ],
            addressSection = {
              heading: 'Your postal address',
              name: 'address',
              postcodeLookup: true
            },
            showCorrespondenceAddressSection = true
          )
        }}

        {{ saveAndContinueButton() }}
      </form>
    </div>
  </div>
{% endblock %}
