{% extends "layout.njk" %}
{% from "form.njk" import nameInput, csrfProtection, errorSummary, saveAndContinueButton %}
{% from "radios/macro.njk" import govukRadios %}

{% set heading = 'About you and this claim' %}
{% set additionalInformation = t('I’m claiming as:') %}
{% set name = 'type' %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" novalidate>
          {{ csrfProtection(csrf) }}

          {{ govukRadios({
            name: name,
            hint: { text: additionalInformation },
            fieldset: {
              legend: {
                text: t(heading),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
              }
            },
            items: [
              {
                value: 'individual',
                text: t('An individual'),
                checked: form.valueFor(name).value === 'individual',
                hint: { text: t('You are claiming for yourself')  }
              },
              {
                value: 'soleTrader',
                text: t('A sole trader or self-employed person'),
                checked: form.valueFor(name).value === 'soleTrader',
                hint: { text: t('For example a tradesperson')  }
              },
              {
                value: 'company',
                text: t('A company'),
                checked: form.valueFor(name).value === 'company',
                hint: { text: t('For example a company that sells goods or services')  }
              },
              {
                value: 'organisation',
                text: t('Another type of organisation'),
                checked: form.valueFor(name).value === 'organisation',
                hint: { text: t('For example a partnership, trust, charity, club or association')  }
              }
            ]
          }) }}

          {{ saveAndContinueButton() }}
        </form>
      </div>
  </div>
{% endblock %}
