{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, emailInput, saveAndContinueButton, errorSummary %}

{% set heading = 'Their email address (optional)' %}

{% block main_content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">{{ t('We’ll use this to tell them you’ve made a claim, as well as notifying them by post.') }}</p>
        <form novalidate method="post">
          {{ csrfProtection(csrf) }}

          {{ emailInput('Their email address (optional)', 'address', form, labelClass='govuk-visually-hidden') }}
          {{ saveAndContinueButton() }}
        </form>
      </div>
  </div>
{% endblock %}
