{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton, errorSummary %}
{% from "timelineFragment.njk" import timelineFragment %}

{% set heading = ('Timeline of events') %}

{% block main_content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>
      {{ csrfProtection(csrf) }}
      <h2 class="govuk-heading-s">{{ t('Example timeline') }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('12 January 2017 - John Smith gave me a quote to replace the roof.') }}</li>
        <li>{{ t('14 January 2017 - We agreed and signed a contract for the work.') }}</li>
        <li>{{ t('21 March 2017 - I noticed a leak on the landing and told Mr Smith about this.') }}</li>
      </ul>

      {{ timelineFragment(form) }}
      {{ saveAndContinueButton() }}

    </form>
  </div>
</div>
{% endblock %}

{% block additional_scripts %}
  <script src="{{ asset_paths['js'] }}/append-row.js"></script>
{% endblock %}
