{% extends "layout.njk" %}
{% from "support.njk" import supportWidget %}

{% set heading = 'Contact us' %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t(heading) }}</h1>

      {{ supportWidget('Money Claims') }}
    </div>
  </div>
{% endblock %}
