{% extends 'layout.njk' %}

{% set heading = 'Something went wrong' %}

{% block main_content %}
  <p class="govuk-body">Sorry, we had some technical problems during your last operation. Please try again later.</p>
{% endblock %}
