{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, saveAndContinueButton %}
{% from "radios/macro.njk" import govukRadios %}

{% set heading = 'Total amount you’re claiming' %}
{% set additionalInformation = t('If you’re claiming interest, include that in the amount.') %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set name = 'claimValue' %}

      <form novalidate method="post" class="analytics-submit-event-trigger"
            data-event-action="Eligibility: Select claim value option"
            data-event-label-from="{{ name }}">

        {{ csrfProtection(csrf) }}

        {% set error = { text: form.errorFor(name) } if form.errorFor(name) else undefined %}
        {{ govukRadios({
          name: name,
          hint: { text: additionalInformation },
          fieldset: {
            legend: {
              text: t(heading),
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          errorMessage: error,
          items: [
            {
              value: ClaimValue.OVER_10000.option,
              text: t('Over £10,000'),
              checked: form.valueFor(name) === ClaimValue.OVER_10000
            },
            {
              value: ClaimValue.UNDER_10000.option,
              text: t('£10,000 or less'),
              checked: form.valueFor(name) === ClaimValue.UNDER_10000
            },
            {
              value: ClaimValue.NOT_KNOWN.option,
              text: t('I don’t know the amount'),
              checked: form.valueFor(name) === ClaimValue.NOT_KNOWN
            }
          ]
        }) }}

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>

{% endblock %}
