{% extends "layout.njk" %}
{% from "button/macro.njk" import govukButton %}

{% set heading = 'You can use this service' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t(heading) }}</h1>

      <p class="govuk-body">
        {{ t('Based on your answers you can make a money claim using this new service.') }}
      </p>

      {{ govukButton({
          text: t('Continue'),
          href: nextPage,
          classes: 'analytics-click-event-trigger',
          attributes: { 'data-event-label': 'Eligibility: You can use this service' }
        })
      }}

    </div>
  </div>

{% endblock %}
