{% extends "layout.njk" %}
{% from "./macro/expandableSection.njk" import expandableSection %}

{% set heading = 'The defendant’s response' %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">{{ t('The defendant {{ name }} has rejected your claim.', name = response.defendant.name) }}</p>
      <p class="bold-medium">{{ t('Their defence') }}</p>

      {{ expandableSection(label = 'Why they disagree with the claim', content = response.defence, id = 'summaryContent') }}
    </div>
  </div>
{% endblock %}
