<div class="report-error">
 <a class="govuk-link govuk-link--muted" target="_blank" href="{{ reportProblemSurveyUrl }}?pageurl={{ pagePath }}">{{ t('Report a problem with this page ') }}</a>
  <span class="govuk-body">{{ t('(opens in a new window)') }}</span>
</div>
