{% extends "layout.njk" %}
{% from "form.njk" import csrfProtection, textInput, poundInput, saveAndContinueButton, errorSummary %}

{% set heading = 'What are you self-employed as?' %}

{% block main_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>

        {{ csrfProtection(csrf) }}

        <div class="govuk-form-group">
          {{ textInput('Job title', 'jobTitle', form) }}
          {{ poundInput('Annual turnover', 'annualTurnover', form) }}
        </div>

        {{ saveAndContinueButton() }}

      </form>
    </div>
  </div>
{% endblock %}
