{% macro offerTable(offer, completionDate) %}
  <div class="offer-table">
    <div class="bottom-border">
      <div class="govuk-grid-column-one-quarter label">{{ t('The offer') }}</div>
      <div class="govuk-grid-column-two-thirds">{{ offer }}</div>
    </div>
    <div class="bottom-border">
      <div class="govuk-grid-column-one-quarter label">{{ t('Completion date') }}</div>
      <div class="govuk-grid-column-two-thirds">{{ completionDate | date }}</div>
    </div>
  </div>
{% endmacro %}
